<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Prac" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


  </head>

  <body>
      <header>
        <div style=" background:linear-gradient(0.25turn, #ffb405, #ffefef, #2fa512); border: double black; display: flex; justify-content:space-between; gap: 15px; height:80px">
          <div style=" dislay:flex; justify-content:start;">    <%=image_tag 'modi2.jpeg', alt:"logo", height:"80px"%></div>
          <div style=" dislay:flex; justify-content:start;" >
              <%=link_to "Products", products_path%>
              <%=link_to "Users", users_path %>     
              
              </div> 
        </div>    
      </header>
    <main>
      <%= yield %>
    </main>
  </body>


  <footer><%= yield :footer %></footer>
</html>
